.container > h2 {
    margin-left: 2.5rem;
    padding-bottom: 1rem;
    font-size:2rem ;
    font-weight: 500;
    color :rgb(236, 14, 181);
}
.card {
    width: 400px;
    /* height: 800px; */
    
}
.card > img{
    width: 100%; 
    padding: 1rem;
    border: 1px solid rgb(59, 177, 204);
    border-radius: 0.5rem;
}

.images{
    display: flex;
    /* width: 100rem; */
    gap: 2.5rem;
    margin-left: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cltrlbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-left:9rem; */
    padding: .7rem 10.45rem ;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    background-color: rgb(59, 177, 204);
    margin-top: .2rem;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1.2rem;
}
.inpbutton{
display: flex;
max-width: 400px;
justify-content: space-around;
gap :6px;
}
.inpbutton > input{
    margin-top: 0.8rem;
    background-color: #fff;
    font-size: 1.25rem;
    font-weight: 350;
    border: none;
    color: #000 !important;
    padding: 10px;
    width: 180px;
    border-radius: .25rem;
}

.inpbutton> input::placeholder{
    text-align: center;
}

.noNft {
    /* color :rgb(236, 14, 181); */
    margin-left: 2.5rem;
}