.nav {
    height :10vh;
    /* padding:10px; */
    background: rgb(0, 2, 26);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40rem;
    position: sticky;
    top :0px;
    
    
}
.one:hover, .two:hover , .three:hover{
    color:rgb(243, 61, 251);
}

.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav ul li a{
    margin: 5px 30px; 
}
.login{
    padding: 0rem 1.8rem ;
    margin-left: 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    background-color: rgb(236, 14, 181);
    color: white;
    /* color: #000; */

}
.login:hover{
    /* background-color: rgba(150, 187, 221, 0.74); */
}